extends layout

block content
  h1= title
  p Welcome to #{title}

  div(ng-controller="DatepickerDemoCtrl")
    .panel
      p {{ dt.getTime() }}
    .row
      .col-md-6
        h4 Inline
        div(style="display:inline-block; min-height:290px;")
          uib-datepicker.well.well-sm(
            ng-model="dt"
            min-date="minDate"
            show-weeks="true" custom-class="getDayClass(date, mode)"
          )
      .col-md-6
        pre #{dates}
